{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Jobs Stats{% endblock %}</h2>
{% endblock %}

{% block content %}
<table>
    <tr>
        <th></th>
        {% for field in job_stats['all'] %}
        <th>{{ field }}</th>
        {% endfor %}
    </tr>
    {% for population, data in job_stats.items() %}
    <tr>
        <th>{{ population }}</th>
        {% for key, value in data.items() %}
        {% if key=="N" %}
        <td>{{ value }}</td>
        {% else %}
        <td>{{ "{:.2f}".format(value['mean']) }}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
